body {
    margin: 0px;
}

.gallery {
    display: flex;
    height: 100vh;
}

table {
    border-collapse: collapse;
}

.timeline {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
    scrollbar-width: none;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: white;
    margin: 0;
    border: 1rem solid white;
}

td {
    text-align: center;
    min-width: 10px;
    height: 10px;
    border: none;
}

.inactive {
    background-color: lightgray;
}

.left {
    background-color: cyan;
}

.right {
    background-color: orange;
}

.highlight {
    background-color: red;
}

.intro {
    flex: 3;
    padding: 20px;
    overflow-y: auto;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.text-detail-container {
    flex: 10;
    border-radius: 20px;
    padding: 1rem;
    overflow-y: scroll;

    background-color: #f0f0f0;

    white-space: pre-wrap;
    line-height: 1.6;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.photo {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;

    overflow: hidden;
}

.people-counter {
    margin: 1rem 0;
    font-size: 16px;
}

.other-people {
    flex: 1;
    font-size: 14px;
    overflow-y: scroll;
    max-height: 15vh;
    text-align: left;
}

.photo img {
    max-width: 100%;
    max-height: 60vh;
    object-fit: contain;

    background-color: #fff;
    border: 8px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    flex: 5
}

.transition {
    animation: opacity 0.5s ease-in-out;
}

.switching {
    opacity: 0;
}
